body {
    background-color: #FFF;
    color: #000;
}

#console {
    width: 100%;
    height: 430px;
    background-color: #000;
    color: #FFF;
    margin-top: 10px;
}

div.box {
    border: 1px solid #ccc;
}

#password-label {
    color: #AA0000;
}

.hidden {
    display: none;
}
